@import url("https://fonts.googleapis.com/css2?family=Quattrocento:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Quattrocento:wght@400;700&display=swap");

html,
body,
#__next {
  height: 100%;
}

* {
  scroll-behavior: smooth;
}

/* Universal Box Sizing with Inheritance */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

h2,
h3 {
  font-family: "Quattrocento", serif;
  font-weight: normal;
}

h1,
p,
h4,
detail {
  font-family: "Quattrocento Sans", sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* If you use MDXWrapper component to wrap MDX, there is an .mdx-content class
you can use to provide global customizations */

.mdx-content p {
  /* respect soft-breaks inside the markdown */
  white-space: pre-line;
}

.mdx-content img {
  width: 100%;
}

.sidebar-test {
  width: 100px;
  transition: all 0.1s ease-in-out;
  padding: 20;
  background-color: #dcddde;
  border-radius: 5;
}

.sidebar-test:hover {
  width: 200px;
  transition: all 0.1s ease-in-out;
}

.sidebar-main-test {
  display: flex;
}

@media only screen and (max-width: 600px) {
  .sidebar-main-test {
    flex-wrap: wrap;
  }

  .sidebar-test {
    width: 100%;
  }
}

.video-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  grid-template-areas:
    "zero zero zero zero"
    "one two three four";
}

@media only screen and (max-width: 768px) {
  .video-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
      "zero"
      "one"
      "two"
      "three"
      "four";
  }

  .zero,
  .one,
  .two,
  .three,
  .four {
    height: 500px !important;
  }
}

.zero {
  grid-area: zero;
  height: 500px;
}

.one {
  grid-area: one;
  height: 200px;
}

.two {
  grid-area: two;
  height: 200px;
}

.three {
  grid-area: three;
  height: 200px;
}

.four {
  grid-area: four;
  height: 200px;
}

/* UTILITY CLASSES */

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.items-baseline {
  align-items: baseline;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-center {
  justify-content: center;
}

.width-animate {
  transition: width, max-width 0.6s cubic-bezier(0.16, 1, 0.3, 1);
}

.dropdown-animate {
  transition: all 0.1 ease-in-out;
}

.dropdown-animate > * {
  transition: all 0.1 ease-in-out;
}
