/* Universal Box Sizing with Inheritance */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* If you use MDXWrapper component to wrap MDX, there is an .mdx-content class
you can use to provide global customizations */

.mdx-content p {
  /* respect soft-breaks inside the markdown */
  white-space: pre-line;
}

.mdx-content img {
  width: 100%;
}
